body{
    background-color: #151b1b;
}
header{
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("https://i.postimg.cc/J1jzQ6Mc/background-header.jpg");
}
nav{
    display: grid;
    height: 50px;
    font-family:'Roboto Slab', serif;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
}
a.nav-link{
    width: max-content;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #fbbb25;
}
div.social{
    width: 20%;
    align-items: center;
    display: grid;
    float:right;
}
h1.titulo{
    font-family:'Roboto Slab', serif;
    font-weight: 700;
    font-size: 55px;
    color: #fff;
    text-align: center;
}
h2.intro{
    padding-top: 20px;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    width: 70%;
}
h3.subtitulo{
    font-family:'Roboto Slab', serif;
    font-weight: 600;
    font-size: 28px;
    color:#151b1b;
}
p{
    padding-top: 30px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;

}
#intro{
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}
#projetos{
    font-size: 21px;
    text-align: center;
}
#slider{
    padding: 50px;
    background-color: #eeeeee;
    display: grid;
	grid-template-columns: 100%;
}
div#projetos.row{
    justify-content: center;
    padding-bottom: 20px;
}
div#button.row{
    justify-content: center;
    padding: 20px;
}
button{
    background-color: #fbbb25;
    color: #151b1b;
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    font-weight: 600;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
div#quemsomos{
    background-color: #fbbb25;
}
div#sobre{
    padding: 50px;
    color:#151b1b;
    line-height: 22px;
}
div#servicos{
    background-color: #fbbb25;
}

div#contato{
    background-color: #eee;
    display: grid;
	grid-template-columns: 100%;
    gap: 20px;
}
div.form{
    display: grid;
    grid-template-columns: 90%;
    gap: 10px;
}
form{
    display: grid;
    align-content: center;
    width: 100%;
}

input{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: #3e3e3e;
}

input[type=submit]{
    padding: 8px;
    width: 100%;
    height: 40px;
    background-color:#fbbb25;
    color: #fff;
    cursor: pointer;
}

div#servicos{
    background-color: #151b1b;
}
a{
    color: #151b1b;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}
div#info.row{
	padding: 50px
}
